@model LoginVM


<main>
    <section id="signin-listener">
        <div class="my-container">
            <div class="signin">
                <div class="inside-container">
                    <p class="text">Sign in to Podcast</p>
                    <form method="post" asp-action="Login">
                        
                        @if (ViewData.ModelState[""]?.Errors?.Count > 0)
                        {
                            <div class="alert alert-danger">
                                @foreach (var error in ViewData.ModelState[""].Errors)
                                {
                                    <p>@error.ErrorMessage</p>
                                }
                            </div>
                        }


                            
                            <input type="text" asp-for="UserNameOrEmail" placeholder="Username or Email">
                            <span asp-validation-for="UserNameOrEmail" class="text-danger mb-2"></span>
                        
                            
                            <input type="password" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger mb-2"></span>

                        <div class="remember-me">
                            <input type="checkbox" asp-for="RememberMe">
                            <label for="remember-me">Remember Me</label>
                        </div>


                        <div class="forgot-password">
                            <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                        </div>

                        <button type="submit">Sign in</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
</main>
