



<main>
        <section id="podcast-episodes">
            <div class="my-container">
                <div class="all">
                    <div class="podcast">
                        <div class="img-title">
                            <div class="image"><img src="~/assets/images/podcasts/podcast2.jpg" alt=""></div>
                            <div class="title">
                              <div class="text"><p>Lorem ipsum dolor sit amet consecteturdfhsd shdgfhsd hsjgdfhjdgs hdsgfhgds</p></div>
                              <div><span style="color: #9B59B6 ; font-weight: bold;">Category:</span> <span>Science</span></div>
                              <div class="podcaster"><img src="~/assets/images/home/person2.jpg" alt=""><p>Name Surname</p></div>
                              <div class="follow">
                                <form action="" method="">
                                     <button type="submit">Follow</button>
                                </form>
                            </div>
                            </div>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, quisquam magni nam recusandae, aut odit optio iure, temporibus debitis inventore labore animi nesciunt officiis hic illum adipisci. Doloribus, officiis in! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae magnam dolor ad repudiandae libero quasi porro ducimus tempore adipisci? Aliquam, eos autem? Consequuntur eaque tempore adipisci, laborum libero aperiam explicabo!</p>
                        </div>
                    </div>
                    <div class="episodes">
                        <div class="episode">
                            <div class="img-title">
                               <div class="image"><a href=""><img src="~/assets/images/podcasts/podcast3.jpg" alt=""></a></div>
                               <div class="number">
                                <div class="title"><a href="">Lorem ipsum dolor sit amet</a></div>
                               <div class="num"><p>56000 listen</p></div>
                               </div>
                            </div>
                           <div class="description"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eum voluptatem quam nostrum enim ipsa nulla minus optio nobis ad. Perferendis delectus neque animi! Ex ut facere itaque accusantium non.</p></div>
                           <div class="guests">
                            <div class="text"><p>Our guests:</p></div>
                            <div class="g-info">
                              <div class="member">
                                  <a href=""><img src="~/assets/images/home/person3.jpg" alt=""></a>
                                  <a class="name" href="">Name Surname</a>
                              </div>
                              <div class="member">
                                  <a href=""><img src="~/assets/images/home/person4.jpg" alt=""></a>
                                  <a class="name" href="">Name Surname</a>
                              </div>
                              <div class="member">
                                  <a href=""><img src="~/assets/images/home/person1.jpg" alt=""></a>
                                  <a class="name" href="">Name Surname</a>
                              </div>
                            </div>
                           </div>
                           <div class="icons-play">
                              <div class="icons">
                                  <div class="add-episode">
                                    <button type="button" class="btn btn-primary add" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                                       <i class="bi bi-plus-circle"></i>
                                    </button>
                                    <!-- Modal -->
                           <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select a category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form action="/YourController/YourAction" method="post">
          <div class="mb-3">
            <label for="categorySelect" class="form-label">Kateqoriya seçin:</label>
            <select class="form-control" id="categorySelect" name="category">
              <option disabled selected>Birini seçin</option>
              <option value="tech">Texnologiya</option>
              <option value="health">Sağlamlıq</option>
              <option value="education">Təhsil</option>
              <option value="sports">İdman</option>
            </select>
          </div>

          <!-- Submit düyməsi -->
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-circle"></i> Təsdiqlə
          </button>
        </form>
      </div>
    </div>
  </div>
                           </div>
                                  </div>
                                  <div class="delete-episode">
                                    <form action="" method="">
                                      <button type="submit" class="btn btn-primary delete">
                                         <i class="bi bi-dash-circle"></i>
                                      </button>
                                    </form>
                                  </div>
                                  
                                  <div class="like-episode">
                                    <form action="" method="">
                                      <button type="submit" class="btn btn-primary like">
                                         <i class="bi bi-hand-thumbs-up"></i>
                                      </button>
                                    </form>
                                    <span>112</span>
                                  </div>
                              </div>
                              <div class="play">
                                <button><i class="bi bi-play-circle-fill"></i></button>
                                <audio controls>
                                  <source src="" type="audio/mp3">
                                  Sizin brauzeriniz audio elementini dəstəkləmir.
                                </audio>
                              </div>
                           </div>
                        </div>
                        <div class="episode">
                            <div class="img-title">
                               <div class="image"><a href=""><img src="~/assets/images/podcasts/podcast3.jpg" alt=""></a></div>
                               <div class="number">
                                <div class="title"><a href="">Lorem ipsum dolor sit amet</a></div>
                               <div class="num"><p>56000 listen</p></div>
                               </div>
                            </div>
                           <div class="description"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eum voluptatem quam nostrum enim ipsa nulla minus optio nobis ad. Perferendis delectus neque animi! Ex ut facere itaque accusantium non.</p></div>
                           <div class="guests">
                            <div class="text"><p>Our guests:</p></div>
                            <div class="g-info">
                              <div class="member">
                                  <a href=""><img src="~/assets/images/home/person3.jpg" alt=""></a>
                                  <a class="name" href="">Name Surname</a>
                              </div>
                              <div class="member">
                                  <a href=""><img src="~/assets/images/home/person4.jpg" alt=""></a>
                                  <a class="name" href="">Name Surname</a>
                              </div>
                              <div class="member">
                                  <a href=""><img src="~/assets/images/home/person1.jpg" alt=""></a>
                                  <a class="name" href="">Name Surname</a>
                              </div>
                            </div>
                           </div>
                           <div class="icons-play">
                              <div class="icons">
                                  <div class="add-episode">
                                    <button type="button" class="btn btn-primary add" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                                       <i class="bi bi-plus-circle"></i>
                                    </button>
                                    <!-- Modal -->
                           <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select a category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form action="/YourController/YourAction" method="post">
          <div class="mb-3">
            <label for="categorySelect" class="form-label">Kateqoriya seçin:</label>
            <select class="form-control" id="categorySelect" name="category">
              <option disabled selected>Birini seçin</option>
              <option value="tech">Texnologiya</option>
              <option value="health">Sağlamlıq</option>
              <option value="education">Təhsil</option>
              <option value="sports">İdman</option>
            </select>
          </div>

          <!-- Submit düyməsi -->
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-circle"></i> Təsdiqlə
          </button>
        </form>
      </div>
    </div>
  </div>
                           </div>
                                  </div>
                                  <div class="delete-episode">
                                    <form action="" method="">
                                      <button type="submit" class="btn btn-primary delete">
                                         <i class="bi bi-dash-circle"></i>
                                      </button>
                                    </form>
                                  </div>
                                  
                                  <div class="like-episode">
                                    <form action="" method="">
                                      <button type="submit" class="btn btn-primary like">
                                         <i class="bi bi-hand-thumbs-up"></i>
                                      </button>
                                    </form>
                                    <span>112</span>
                                  </div>
                              </div>
                              <div class="play">
                                <button><i class="bi bi-play-circle-fill"></i></button>
                                <audio controls>
                                  <source src="" type="audio/mp3">
                                  Sizin brauzeriniz audio elementini dəstəkləmir.
                                </audio>
                              </div>
                           </div>
                        </div>
                        <div class="episode">
                            <div class="img-title">
                               <div class="image"><a href=""><img src="~/assets/images/podcasts/podcast3.jpg" alt=""></a></div>
                               <div class="number">
                                <div class="title"><a href="">Lorem ipsum dolor sit amet</a></div>
                               <div class="num"><p>56000 listen</p></div>
                               </div>
                            </div>
                           <div class="description"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eum voluptatem quam nostrum enim ipsa nulla minus optio nobis ad. Perferendis delectus neque animi! Ex ut facere itaque accusantium non.</p></div>
                           <div class="guests">
                            <div class="text"><p>Our guests:</p></div>
                            <div class="g-info">
                              <div class="member">
                                  <a href=""><img src="~/assets/images/home/person3.jpg" alt=""></a>
                                  <a class="name" href="">Name Surname</a>
                              </div>
                              <div class="member">
                                  <a href=""><img src="~/assets/images/home/person4.jpg" alt=""></a>
                                  <a class="name" href="">Name Surname</a>
                              </div>
                              <div class="member">
                                  <a href=""><img src="~/assets/images/home/person1.jpg" alt=""></a>
                                  <a class="name" href="">Name Surname</a>
                              </div>
                            </div>
                           </div>
                           <div class="icons-play">
                              <div class="icons">
                                  <div class="add-episode">
                                    <button type="button" class="btn btn-primary add" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                                       <i class="bi bi-plus-circle"></i>
                                    </button>
                                    <!-- Modal -->
                           <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select a category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form action="/YourController/YourAction" method="post">
          <div class="mb-3">
            <label for="categorySelect" class="form-label">Kateqoriya seçin:</label>
            <select class="form-control" id="categorySelect" name="category">
              <option disabled selected>Birini seçin</option>
              <option value="tech">Texnologiya</option>
              <option value="health">Sağlamlıq</option>
              <option value="education">Təhsil</option>
              <option value="sports">İdman</option>
            </select>
          </div>

          <!-- Submit düyməsi -->
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-circle"></i> Təsdiqlə
          </button>
        </form>
      </div>
    </div>
  </div>
                           </div>
                                  </div>
                                  <div class="delete-episode">
                                    <form action="" method="">
                                      <button type="submit" class="btn btn-primary delete">
                                         <i class="bi bi-dash-circle"></i>
                                      </button>
                                    </form>
                                  </div>
                                  
                                  <div class="like-episode">
                                    <form action="" method="">
                                      <button type="submit" class="btn btn-primary like">
                                         <i class="bi bi-hand-thumbs-up"></i>
                                      </button>
                                    </form>
                                    <span>112</span>
                                  </div>
                              </div>
                              <div class="play">
                                <button><i class="bi bi-play-circle-fill"></i></button>
                                <audio controls>
                                  <source src="" type="audio/mp3">
                                  Sizin brauzeriniz audio elementini dəstəkləmir.
                                </audio>
                              </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="comments">
          <div class="my-container">
            <div class="area">
              <div class="write-comment">
                <form action="" method="">
                  <input type="text" name="" id="" placeholder="Share your opinion . . .">
                  <button type="submit"><i class="bi bi-send"></i></button>
                </form>
              </div>
              <div class="all-comments">
                <div class="comment">
                  <div class="profile"><img src="~/assets/images/home/person2.jpg" alt=""> <p>Name Surname</p></div>
                  <div class="text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quam consequuntur quas placeat voluptate. Recusandae amet expedita eum, eos quis qui dolore! Enim totam eveniet maiores fuga animi fugiat vitae!</p></div>
                </div>
                <div class="comment">
                  <div class="profile"><img src="~/assets/images/home/person1.jpg" alt=""> <p>Name Surname</p></div>
                  <div class="text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quam consequuntur quas placeat voluptate. Recusandae amet expedita eum, eos quis qui dolore! Enim totam eveniet maiores fuga animi fugiat vitae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere iure aliquam dolor, eaque impedit nesciunt aut ullam quasi quis pariatur eos reprehenderit a, numquam alias cumque rem est voluptate. Nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto voluptatibus illum placeat magni nobis, sequi maxime soluta asperiores temporibus architecto reprehenderit unde accusantium aliquid doloremque dolores tempore modi deserunt tempora.</p></div>
                </div>
                <div class="comment">
                  <div class="profile"><img src="~/assets/images/home/person4.jpg" alt=""> <p>Name Surname</p></div>
                  <div class="text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                </div>
              </div>
            </div>
          </div>
        </section>
</main>