<footer>
    <section id="account-contact">
        <div class="my-container">
            <div class="all">
                <div class="logo">
                    <div class="text">
                        <i class="bi bi-c-circle"></i>
                        <p>
                            2025
                            <a href="./about.html">Podcast</a>
                            <i class="bi bi-soundwave"></i> . All rights reserved.
                        </p>
                    </div>
                </div>
                <div class="contact">
                    <p>Contact</p>
                    <ul>
                        <li><a href="">+994-00-000-00-00</a></li>
                        <li><a href="">example@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>