*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}

header{
    width: 100vw;
    #navbar{
        height: 100px;
        .my-container{
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        .all{
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .logo{
                height: 100%;
                .text {
                    display: flex;
                    align-items: center;
                    margin-top: 2%;
                    a {
                       color: #6A0DAD;
                       font-size: 40px;
                       text-decoration: none;
                       font-weight: 600;
                       margin-right: 10px;
                       i {
                        margin-top: 1.5%;
                        font-size: 35px;
                        color:#6A0DAD;
                        }  
                    }
 
                }

            }
            .account {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: auto;
 padding-right: 5%;
.logout{
  margin-top: 2%;
  form{
          button{
            background-color: white;
            color: #6A0DAD;
            border: none;
            display: flex;
            justify-content: center;
            i{
              font-size: 20px;
            }
            p{
              margin-top: 3%;
              margin-left: 10%;
            }
          }
        }
}
 
  .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 3%;
    margin-left: auto;
    
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
  }
}

        }
    }
    }
    
}

#all-podcasts {
  margin-top: 5%;
  width: 100vw;

  .my-container {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;

    .sorting-filter {
      display: flex;

      .text {
        color: #6a0dad;
        font-size: 17px;
      }

      .mix {
        display: flex;
        margin-left: auto;
        gap: 2%;

        .filter {
          .fltr {
            display: flex;
            gap: 10%;
            border: 1px solid #6a0dad;
            width: 90px;
            background-color: white;
            color: #6a0dad;
            transition: all 0.3s ease;

            &:hover {
              background-color: #d1a0ff;
              color: white;
            }
          }
        }

        .dropdown {
          button {
            border: none;
            width: 90px;
            background-color: white;
            color: #6a0dad;
            transition: all 0.3s ease;

            &:hover {
              background-color: #d1a0ff;
              color: white;
            }
          }
        }
      }
    }

    .podcasts {
      margin-top: 3%;

      .all-podcasts {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 3%;
        row-gap: 5%;

        .podcast {
          width: 100%;
          height: 310px;
          border-radius: 15px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

          .image {
            width: 100%;
            height: 50%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 3%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;

            a {
              width: 100%;
              height: 100%;

              img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
              }
            }
          }

          .info {
            width: 100%;
            height: 30%;

            .title {
              margin-top: 1%;
              height: 65%;
              width: 100%;
              text-align: center;
              font-weight: bold;

              a {
                text-decoration: none;
                color: #2d2d2d;
              }
            }

            .podcaster {
              height: 30%;
              width: 100%;
              text-align: center;

              p {
                color: #2d2d2d;
                font-size: 14px;
              }
            }
          }

          .follow {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
              border: none;
              background-color: #d1a0ff;
              height: 35px;
              width: 90px;
              border-radius: 5px;
              color: white;
               &:hover{
                        background-color: #C084FC;
                      }
            }
          }
        }
      }
    }
  }
}

#button {
  margin-top: 20%;

  .show-more {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      border: 1px solid #6a0dad;
      border-radius: 25px;
      height: 45px;
      width: 150px;
      background-color: white;
      color: #6a0dad;
      transition: all 0.3s ease;

      &:hover {
        background-color: #d1a0ff;
        color: white;
      }
    }
  }
}


footer{
    width: 100vw;
    #account-contact{
      margin-top: 20%;
        background-color: #C084FC;
        .my-container{
            height: 100%;
            margin-left: 13%;
            margin-right: 13%;
            .all{
                padding-top: 1%;
                padding-bottom: 1%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10%;
                   .logo{
                    margin-top: 7%;
                        .text {
                            display: flex;
                             i {
                                margin-top: 0.5%;
                                font-size: 13px;
                                color: white;
                               }  
                            p{ 
                                font-weight: 600;
                                color: white;
                                font-size: 15px;
                                margin-left: 1%;
                                a {
                                color: white;
                                font-size: 17px;
                                text-decoration: none;
                                font-weight: 600;
                                margin-right: 3px;
                               }

                               i {
                                margin-top: 1%;
                                font-size: 15px;
                                color: white;
                               }  
                            }
                        }

                    }
                .contact{
                    margin-left: auto;
                    p{
                        color: white;
                    }
                    ul{
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        li{
                            margin-bottom: 1%;
                            a{
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 480px){
 header{
        #navbar{
            .my-container{
                .all{
                    display: grid;
                    grid-template-columns: 1fr;
                    .logo{
                        .text{
                            margin-left: 30%;
                            a{
                                font-size: 25px;
                            }
                            i{
                                font-size: 20px;
                            }
                        }
                    }
                    .account{
                      margin-top: 5%;
                        margin-left: -23%;
                    }
                }
            }
        }
    }
    main{
      #all-podcasts{
        margin-top: 20%;
        .my-container{
          
          .podcasts{
            
            .all-podcasts{
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 2%;
                .podcast{
                  .info{
                    .title{
                      font-size: 10px;
                    }
                  }
                  .podcaster{
                      p{
                        font-size: 9px;
                      }
                    }
                }
              }
              .show-more{
                margin-top: 20%;
              }
          }
        }
      }
    }
  footer{
        #account-contact{
          margin-top: 250%;
            .my-container{
                margin-left: 5%;
                margin-right: 5%;
                .all{
                    .logo{
                        margin-top: 20%;
                        .text{
                            i{
                                font-size: 10px;
                            }
                            p{
                                width: 180px;
                                font-size: 10px;
                                a{
                                    font-size: 10px;
                                }
                                i{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    .contact{
                        p{
                            font-size: 13px;
                        }
                        ul{
                            li{
                                a{
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 600px){
  header{
        #navbar{
            .my-container{
                .all{
                    .logo{
                      margin-top: 3%;
                    }
                    
                }
            }
        }
    }
    main{
      #all-podcasts{
        margin-top: 20%;
        .my-container{
          
          .podcasts{
            
            .all-podcasts{
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 2%;
                .podcast{
                  .info{
                    .title{
                      font-size: 10px;
                    }
                  }
                  .podcaster{
                      p{
                        font-size: 9px;
                      }
                    }
                }
              }
              .show-more{
                margin-top: 20%;
              }
          }
        }
      }
    }
    footer{
        #account-contact{
          margin-top: 200%;
            .my-container{
                margin-left: 5%;
                margin-right: 5%;
                .all{
                    .logo{
                        margin-top: 20%;
                        .text{
                            i{
                                font-size: 10px;
                            }
                            p{
                                width: 180px;
                                font-size: 10px;
                                a{
                                    font-size: 10px;
                                }
                                i{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    .contact{
                        p{
                            font-size: 13px;
                        }
                        ul{
                            li{
                                a{
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 991px){
  header{
        #navbar{
            .my-container{
                .all{
                    .logo{
                      margin-top: 3%;
                    }
                    
                }
            }
        }
    }
    main{
      #all-podcasts{
        margin-top: 20%;
        .my-container{
          
          .podcasts{
            
            .all-podcasts{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 2%;
                .podcast{
                  .info{
                    .title{
                      font-size: 10px;
                    }
                  }
                  .podcaster{
                      p{
                        font-size: 9px;
                      }
                    }
                }
              }
              .show-more{
                margin-top: 20%;
              }
          }
        }
      }
    }
    footer{
        #account-contact{
          margin-top: 100%;
            .my-container{
                margin-left: 5%;
                margin-right: 5%;
                .all{
                    .logo{
                        margin-top: 10%;
                        
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px){
  main{
      #all-podcasts{
        margin-top: 20%;
        .my-container{
          
          .podcasts{
            
            .all-podcasts{
                .podcast{
                  .info{
                    .title{
                      font-size: 13px;
                    }
                  }
                  .podcaster{
                      p{
                        font-size: 9px;
                      }
                    }
                }
              }
          }
        }
      }
    }
     footer{
        #account-contact{
          margin-top: 70%;
        }
    }
}