@model HeaderVM


<header>
    <section id="navbar">
        <div class="my-container">
            <div class="all">
                <div class="logo">
                    <div class="text">
                        <a asp-controller="Home" asp-action="Index">Podcast <i class="bi bi-soundwave"></i></a>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="account">
                        <div class="profile"><a asp-controller="Account" asp-action="EditAccount" asp-route-id="@Model.AppUserId"><img src="~/assets/images/home/@Model.Image" alt=""></a></div>
                        <div class="logout">
                            <form method="POST" asp-controller="Account" asp-action="Logout">
                                <button type="submit"><i class="bi bi-box-arrow-right"></i><p>Logout</p></button>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <div class="signin-signup">
                        <div class="signin">
                            <a asp-controller="Account" asp-action="Login">Sign in</a>
                        </div>
                        <div class="signup">
                            <a asp-controller="Account" asp-action="Register">Sign up</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</header>
