<main>
    <section id="informative">
        <div class="my-container">
            <div class="all">
                <div class="image">
                    <img src="~/assets/images/about/about.jpg" alt="">
                </div>
                <div class="text">
                    <p class="text1">Listen to interesting podcasts in various categories, discuss, have fun, and learn.</p>
                    <p class="text2">Create your own podcast too!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="new-podcasts">
        <div class="my-container">
            <div class="section-name"><p>Our Bests</p></div>
            <div class="podcasts">
                <div class="podcast">
                    <div class="image">
                        <div class="img">
                            <a href="./signin.html"><img src="~/assets/images/podcasts/podcast1.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="informative">
                        <div class="title">
                            <p><a href="./signin.html">Episode 111: Practical Leadership Strategies with Tim Redmond (Part 1)</a></p>
                        </div>
                        <div class="description">
                            <p>Tim Redmond is CEO of Redmond Growth Consulting and has been growing highly successful businesses for over 35 years including his work at PriceWaterhouseCoopers, growing a software company from 2 to 400 employees then selling it to Intuit, Inc., and helping thousands of business owners gain time and financial freedom. Tim is also an author (the book is POWER TO CREATE) and speaker whose leadership maxims have been featured in John Maxwell’s 21 Irrefutable Laws of Leadership.</p>
                        </div>
                        <div class="number">
                            <p>23 min listen</p>
                        </div>
                    </div>
                </div>
                <div class="podcast">
                    <div class="image">
                        <div class="img">
                            <a href=""><img src="~/assets/images/podcasts/podcast2.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="informative">
                        <div class="title">
                            <p><a href="">Episode 111: Practical Leadership Strategies with Tim Redmond (Part 1)</a></p>
                        </div>
                        <div class="description">
                            <p>Tim Redmond is CEO of Redmond Growth Consulting and has been growing highly successful businesses for over 35 years including his work at PriceWaterhouseCoopers, growing a software company from 2 to 400 employees then selling it to Intuit, Inc., and helping thousands of business owners gain time and financial freedom. Tim is also an author (the book is POWER TO CREATE) and speaker whose leadership maxims have been featured in John Maxwell’s 21 Irrefutable Laws of Leadership.</p>
                        </div>
                        <div class="number">
                            <p>23 min listen</p>
                        </div>
                    </div>
                </div>
                <div class="podcast">
                    <div class="image">
                        <div class="img">
                            <a href=""><img src="~/assets/images/podcasts/podcast3.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="informative">
                        <div class="title">
                            <p><a href="">Episode 111: Practical Leadership Strategies with Tim Redmond (Part 1)</a></p>
                        </div>
                        <div class="description">
                            <p>Tim Redmond is CEO of Redmond Growth Consulting and has been growing highly successful businesses for over 35 years including his work at PriceWaterhouseCoopers, growing a software company from 2 to 400 employees then selling it to Intuit, Inc., and helping thousands of business owners gain time and financial freedom. Tim is also an author (the book is POWER TO CREATE) and speaker whose leadership maxims have been featured in John Maxwell’s 21 Irrefutable Laws of Leadership.</p>
                        </div>
                        <div class="number">
                            <p>23 min listen</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="best-podcasters">
        <div class="my-container">
            <div class="section-name"><p>Our Team</p></div>
            <div class="podcasters owl-carousel">
                <div class="podcaster">
                    <img src="~/assets/images/home/person1.jpg" alt="">
                    <a href="./signin.html"><p>Name Surname</p></a>
                </div>
                <div class="podcaster">
                    <img src="~/assets/images/home/person2.jpg" alt="">
                    <a href=""><p>Name Surname</p></a>
                </div>
                <div class="podcaster">
                    <img src="~/assets/images/home/person3.jpg" alt="">
                    <a href=""><p>Name Surname</p></a>
                </div>
                <div class="podcaster">
                    <img src="~/assets/images/home/person4.jpg" alt="">
                    <a href=""><p>Name Surname</p></a>
                </div>
            </div>
        </div>
    </section>
</main>