<main>
    <section id="team-member">
        <div class="my-container">
            <div class="member">
                <div class="image"><img src="~/assets/images/home/person2.jpg" alt=""></div>
                <div class="info">
                    <div class="name"><p>Name Surname</p></div>
                    <div class="about"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatem laborum dolores eligendi minus voluptate amet, iusto ea eaque. Culpa blanditiis nulla quos itaque nesciunt rem reprehenderit ipsum quas vero? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium ea provident ipsum repellat, itaque officia quae voluptates eligendi veniam sint vel molestias mollitia nam veritatis possimus eos tempore eius est?</p></div>
                    <div class="social">
                        <p class="text" style="font-weight: bold; font-size: 15px;">Social media links:</p>
                        <ul>
                            <li><p>Linkedin: gfdghfd</p></li>
                            <li><p>Instagram: sgfdhsjd</p></li>
                            <li><p>Facebook: shdjfd</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>